*{
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    .contenedor{
        width: 90%;
        max-width: 1000px;
        // background: #ccc;
        margin:auto ;
        overflow: hidden;
    }
    header{
        background: url('../img/bg.jpg') #49a3d6;
        background-repeat: no-repeat;
        background-position: center;        
        max-height: 600px;
        .menu{
            margin: 40px 0;
            text-align: right;
            a{
                margin: 0 20px;
                color: #fff;
                display: inline-block;
                padding-bottom: 9px;
                font-size: 1em;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                &:hover{
                    border-bottom: 2px solid #fff;
                }
            }
        }
        .contenedor-texto{
            display: flex;
            margin: 190px 0;
            justify-content: center;
            align-content: center;
            .texto{
                border: 2px solid rgba(255,255,255, .5);
                border-radius: 3px;
                display: inline-block;
                text-align: center;
                padding: 20px 60px;
                h1,h2{
                    color: #fff;
                    font-weight: 300;
                    margin: 0;
                }
                .nombre{
                    margin-bottom: 10px;
                    font-size: 50px;
                    line-height: 50px;
                }
                .profesion{                    
                    font-size: 25px;
                    line-height: 25px;
                }
            }
        }
    }
}



/* ---- ---- HEADER ---- ---- */