*{
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    .contenedor{
        width: 90%;
        max-width: 1000px;
        // background: #ccc;
        margin:auto ;
        overflow: hidden;
    }
    header{
        background: url('../img/bg2.jpg') #49a3d6;
        background-repeat: no-repeat;
        background-position: center;  
        background-size: cover;                      
        max-height: 600px;        
        .menu{
            margin: 40px 0;
            text-align: right;
            a{
                margin: 0 20px;
                color: #fff;
                display: inline-block;
                padding-bottom: 9px;
                font-size: 1em;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                &:hover{
                    border-bottom: 2px solid #fff;
                }
            }
        }
        .contenedor-texto{
            display: flex;
            margin: 190px 0;
            justify-content: center;
            align-content: center;            
            .texto{
                border: 2px solid rgba(255,255,255, .5);
                border-radius: 4px;
                display: inline-block;
                text-align: center;
                padding: 20px 60px;
                //background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.3);                
                h1,h2{
                    color: #fff;
                    font-weight: 300;
                    margin: 0;
                }
                .nombre{
                    margin-bottom: 10px;
                    font-size: 50px;
                    line-height: 50px;
                }
                .profesion{                    
                    font-size: 25px;
                    line-height: 25px;
                }
            }
        }        
    }
    .main{
        .acerca-de{
            text-align: center;            
            .contenedor{
                overflow: visible;
                .foto{
                    margin-top: -60px;
                    img{
                        vertical-align: top;
                        border-radius: 50%;
                        border: 6px solid rgba(255,255,255, 0.3);
                    }
                }
                .texto{
                    color: #5a5a5a;
                    font-weight: 600;
                    font-size: 1em;
                    line-height: 30px;
                    width: 80%;
                    margin:40px auto 60px auto;
                    .titulo{
                        font-size: 34px;
                        line-height: 34px;
                        margin-bottom: 40px;
                        font-weight: 300;
                        color: #dd820d;
                        text-align: center;
                    }
                    .bold{
                       color: #3495ea;
                       text-decoration: underline; 
                    }
                }
            }
        }
        .trabajos{
            background: #f2f2f2;
            padding: 60px 0;
            .contenedor{
                //overflow: hidden;
                .titulo{
                    font-size: 34px;
                    line-height: 34px;
                    margin-bottom: 40px;
                    font-weight: 300;
                    color: #323068;
                    text-align: center;
                }
                .contenedor-trabajos{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .trabajo{
                        width: 23%;
                        margin-bottom:40px;
                        .thumb{
                            width: 100%;
                            margin-bottom: 10px;
                            img{
                                width: 100%;
                                vertical-align: top;
                                border-radius: 4px;
                                opacity: 0.7; 
                                                               
                                &:hover{
                                    /* border: 1px solid darkgrey;
                                    padding: 4px;
                                    background: rgba(224,224,224, 0.99); */
                                    opacity: 1;
                                }
                            }
                        }
                        .descripcion{
                            text-align: center;
                            .nombre{
                                font-weight: 700;
                                margin-bottom: 10px;
                                color: #3895aa;
                            }
                            .categoria{
                                font-size: 14px;
                                color: #636363;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        .contacto{
            padding: 60px 0;
            .titulo{
                font-size: 34px;
                    line-height: 34px;
                    margin-bottom: 40px;
                    font-weight: 300;
                    color: #3895ea;
                    text-align: center;
            }
            .formulario{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                input[type="text"],
                input[type="email"],
                textarea{
                      border: 2px solid #cecece;
                      border-radius: 5px;
                      padding: 15px 20px;
                      font-size: 20px;
                      color: #a4a4a4;
                      &:focus{
                          border: 2px solid #3895ea;
                      }  
                }
                input[type="text"],
                input[type="email"]{
                    width: 49%;
                    margin-bottom: 15px;
                }
                textarea{
                    width: 100%;
                    height: 100px;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100px;
                    max-height: 300px;
                    margin-bottom: 15px;
                }
                .boton{
                    margin: auto;
                    background: #3895ea;
                    color: #fff;
                    border: none;
                    border-radius: 3px;
                    padding: 15px 40px;
                    cursor: pointer;
                    &:hover{
                        background: #387bea;
                    }
                }
            }
        }
        .redes-sociales{
            background: #1e2b38;
            padding: 60px 0;
            .contenedor{
                display: flex;
                justify-content: center;
                a{
                    color: #fff;
                    text-align: center;
                    width: 100px;
                    display: block;
                    padding: 15px 0;
                    border-radius: 3px;
                    font-size: 30px;
                    //background: #ccc;
                    margin: 0 20px;
                }
                .facebook{
                    &:hover{
                        background: #1877f2;
                    }
                }
                .github{
                    &:hover{
                        background: #6e5494;
                    }
                }
                .instagram{
                    &:hover{
                        background: #405de6;
                    }
                }
            }
        }
    }
}




/* ---- ---- HEADER ---- ---- */